[Unit]
Description=unbound-exporter
Documentation=https://github.com/kumina/unbound_exporter
After=network.target

[Service]
Type=simple
#Restart=always
User=root
#EnvironmentFile=/usr/bin/env/
ExecStart=/usr/sbin/unbound_exporter -unbound.ca /etc/unbound/unbound_server.pem -unbound.cert /etc/unbound/unbound_control.pem -unbound.key /etc/unbound/unbound_control.key

[Install]
WantedBy=multi-user.target
